#div1 {
    margin-left: 13%;
}

img {
    display: flex;
}

button {
    border-radius: 40px;
    border-color: gray;
}

#but2 {
    margin-left: 12%;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
  
  table {
    border-collapse: collapse;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-spacing: 0;
    width: min-content;
    border: 1px solid #ddd;
    /* margin: auto; */
  }
  
  th, td {
    /* text-align: middle; */
    padding: 20px;
    padding-right: 25px;
  }  

  #pokemon1types, #pokemon2types {
    padding: 8px;
  }