#div1 {
    margin-left: 13%;
}

img {
    display: flex;
}

button {
    border-radius: 40px;
    border-color: gray;
}

#but2 {
    margin-left: 12%;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
  
  table {
    border-collapse: collapse;
    display: flex;
    border-spacing: 0;
    width: 20%;
    border: 1px solid #ddd;
    /* margin: auto; */
  }
  
  th, td {
    text-align: middle;
    padding: 16px;
  }  